# General configurations
#####################################################
{{JUPITER_PERPS_WALLET}}  vj98roDZ7744EBfxyuDFkKpEGCsKQLr7K8UFRumJNHf


# Constant Name               Value
#####################################

#{{SOL_LONG_LIQ_PRICE}}        74.69
#{{SOL_SHORT_LIQ_PRICE}}       76.77

#{{ETH_LONG_LIQ_PRICE}}      1736.32
#{{ETH_SHORT_LIQ_PRICE}}     1768.08

#{{BTC_LONG_LIQ_PRICE}}     62158.45
#{{BTC_SHORT_LIQ_PRICE}}    63275.97


# Id   Asset   Condition                                                   Trigger
################################################################################################

# SOL SHORT
1      SOL     >={{SOL_SHORT_LIQ_PRICE}}-1%                                PERSISTENT:1m
2      SOL     [{{SOL_SHORT_LIQ_PRICE}}-3%-->{{SOL_SHORT_LIQ_PRICE}}-1%)   PERSISTENT:1h
3      SOL     <={{SOL_SHORT_ENTRY_PRICE}}-5%                              PERSISTENT:1h

# SOL LONG
4      SOL     <={{SOL_LONG_LIQ_PRICE}}+1%                                 PERSISTENT:1m
5      SOL     ({{SOL_LONG_LIQ_PRICE}}+1%-->{{SOL_LONG_LIQ_PRICE}}+3%]     PERSISTENT:1h
6      SOL     >={{SOL_LONG_ENTRY_PRICE}}+5%                               PERSISTENT:1h

# ETH SHORT
7      ETH     >={{ETH_SHORT_LIQ_PRICE}}-1%                                PERSISTENT:1m
8      ETH     [{{ETH_SHORT_LIQ_PRICE}}-3%-->{{ETH_SHORT_LIQ_PRICE}}-1%)   PERSISTENT:1h
9      ETH     <={{ETH_SHORT_ENTRY_PRICE}}-5%                              PERSISTENT:1h

# ETH LONG
10     ETH     <={{ETH_LONG_LIQ_PRICE}}+1%                                 PERSISTENT:1m
11     ETH     ({{ETH_LONG_LIQ_PRICE}}+1%-->{{ETH_LONG_LIQ_PRICE}}+3%]     PERSISTENT:1h
12     ETH     >={{ETH_LONG_ENTRY_PRICE}}+5%                               PERSISTENT:1h

# BTC SHORT
13     BTC     >={{BTC_SHORT_LIQ_PRICE}}-1%                                PERSISTENT:1m
14     BTC     [{{BTC_SHORT_LIQ_PRICE}}-3%-->{{BTC_SHORT_LIQ_PRICE}}-1%)   PERSISTENT:1h
15     BTC     <={{BTC_SHORT_ENTRY_PRICE}}-5%                              PERSISTENT:1h

# BTC LONG
16     BTC     <={{BTC_LONG_LIQ_PRICE}}+1%                                 PERSISTENT:1m
17     BTC     ({{BTC_LONG_LIQ_PRICE}}+1%-->{{BTC_LONG_LIQ_PRICE}}+3%]     PERSISTENT:1h
18     BTC     >={{BTC_LONG_ENTRY_PRICE}}+5%                               PERSISTENT:1h
