# Wallet and signer used for position-increase transactions
################################################################
WALLET_ID            {{JUPITER_PERPS_WALLET}}
SIGNER_KEY_NAME      <SIGNER>
RESERVE_USDC_LIMIT   10

# Id   Asset   Direction   CollateralUSDC   SizeDeltaUSD   MaxSlippageBPS
############################################################################
# Values may reference {{VARIABLES}} defined in alarms.conf.
#4     SOL     LONG        0.25             2.50           200
#5     SOL     LONG        0.25             6.25           200
