# MintA = Solana
# MintB = SyrupUSDC
#
# NFTId ; AddedMintA ; AddedMintB ; BorrowedMintA ; BorrowedMintB
89LikiLxkj1m9dU2SVLnzj2Dky3qrFNUbwZYyrVNSzpt;0;5;0;0     # 63.681428 - 64.064646
X7bKgeVRaRuM2QrkcxGbGiuzz9YzR25mxpg43CbLLPB;0;5;0;0      # 64.064646 - 64.450170
